<!DOCTYPE XHTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Supercon 2 list of processed articles</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
  <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
</head>

<body>
  <div id="app">
    <v-container fluid>
      <h2>Supercon2 "automatically extracted database" tabular view</h2>
      <v-data-table :headers="headers" :items="items" :items-per-page="20" :dense="true" loading-text="loading ..."
        :multi-sort="true" class="elevation-1">
        <template v-slot:body.prepend>
          <tr>
            <td>
              <v-text-field v-model="name" type="text" label="Dessert name"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="calories" type="number" label="Less than"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="fat" type="number" label="Less than"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="carbs" type="number" label="Exact number"></v-text-field>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-container>
    <p><span style="color:#848484;">contributors - 2021</span></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script type="module" lang="ts">
    import axios from 'https://cdn.skypack.dev/axios'
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          headers: [
            { text: 'Applied Pressure', value: 'appliedPressure' },
            { text: 'Applied Pressure ID', value: 'appliedPressureId' },
            { text: 'Authors', value: 'authors', width: 300 },
            { text: 'Critical Temperature', value: 'criticalTemperature' },
            { text: 'Critical TemperatureId', value: 'criticalTemperatureId' },
            { text: 'Critical Temperature Measurement Method', value: 'criticalTemperatureMeasurementMethod' },
            { text: 'Critical Temperature Measurement MethodId', value: 'criticalTemperatureMeasurementMethodId' },
            { text: 'Crystal Structure', value: 'crystalStructure' },
            { text: 'Crystal Structure ID', value: 'crystalStructureId' },
            { text: 'Doc URL', value: 'doc_url' },
            { text: 'DOI', value: 'doi' },
            { text: 'Doping', value: 'doping' },
            { text: 'Fabrication', value: 'fabrication' },
            { text: 'Filename', value: 'filename' },
            { text: 'Formula', value: 'formula' },
            { text: 'Hash', value: 'hash' },
            { text: 'ID', value: 'id' },
            { text: 'Journal', value: 'journal' },
            { text: 'Link Type', value: 'linkType' },
            { text: 'Material Class', value: 'materialClass' },
            { text: 'Material ID', value: 'materialId' },
            { text: 'Name', value: 'name' },
            { text: 'Path', value: 'path' },
            { text: 'Publisher', value: 'publisher' },
            { text: 'Raw Material', value: 'rawMaterial' },
            { text: 'Section', value: 'section' },
            { text: 'Sentence', value: 'sentence', width: 500 },
            { text: 'Shape', value: 'shape' },
            { text: 'Space Group', value: 'spaceGroup' },
            { text: 'Space Group ID', value: 'spaceGroupId' },
            { text: 'Status', value: 'status' },
            { text: 'Subsection', value: 'subsection' },
            { text: 'Substrate', value: 'substrate' },
            { text: 'Timestamp', value: 'timestamp' },
            { text: 'Title', value: 'title', width: 500 },
            { text: 'Type', value: 'type' },
            { text: 'Unit Cell Type', value: 'unitCellType' },
            { text: 'Unit Cell Type ID', value: 'unitCellTypeId' },
            { text: 'Variables', value: 'variables' },
            { text: 'Year', value: 'year' }
          ],
          items: []
        }
      },
      mounted() {
        console.log("mounted")
        axios.get("/records/automatic").then((data) => {
          console.log({ data })
          this.items = data.data
        })
      },
      methods: {
      },
      created() {
        console.log("created")
      },
    })
  </script>

</body>

</html>
