<!DOCTYPE XHTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Supercon 2 list of processed articles</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
</head>

<body>
    <v-app id="app">
        <v-container fluid>
            <h2>Supercon2 "automatically extracted database" tabular view</h2>
            <v-select v-model="selectedHeaders" :items="headers" label="Select Columns" multiple outlined return-object>
            </v-select>
            <v-checkbox v-model="expandFilter" label="expand filter"></v-checkbox>
            <v-data-table v-model="selectedItems" :headers="showHeaders" :items="items" :dense="true" single-select
                loading-text="loading ..." :multi-sort="true" class="elevation-1"
                @current-items="hasChangedCurrentItems" :page.sync="page" :items-per-page="itemsPerPage"
                @page-count="hasChangedPageCount" @click:row="clickRow">
                <template v-slot:body.prepend>
                    <tr>
                        <td v-for="header in showHeaders" :key="header.value">
                            <v-text-field v-model="rawMaterialKeyword" type="text" label="keyword"
                                v-if="header.value === 'rawMaterial'" hide-details>
                            </v-text-field>
                            <v-radio-group v-model="typeRadioGroup" v-else-if="header.value === 'type'" dense
                                hide-details :readonly="!expandFilter">
                                <v-radio v-for="item in ['all', 'manual', 'automatic']" :key="item" :label="item"
                                    :value="item" v-show="expandFilter || item === typeRadioGroup">
                                </v-radio>
                            </v-radio-group>
                            <v-radio-group v-model="statusRadioGroup" v-else-if="header.value === 'status'" dense
                                hide-details>
                                <v-radio v-for="item in ['all', 'valid', 'invalid']" :key="item" :label="item"
                                    :value="item" v-show="expandFilter || item === statusRadioGroup">
                                </v-radio>
                            </v-radio-group>
                            <v-radio-group v-model="flagRadioGroup" v-else-if="header.value === 'flag'" dense
                                hide-details>
                                <v-radio v-for="item in ['all', 'flag', 'unflag']" :key="item" :label="item"
                                    :value="item" v-show="expandFilter || item === flagRadioGroup">
                                </v-radio>
                            </v-radio-group>
                        </td>
                    </tr>
                </template>
                <template v-slot:item.document="{ item }">
                    <a :href="'./document/' + item.hash" target="_blank" :style="{'text-decoration': 'none'}">
                        View
                    </a>
                </template>
                <template v-slot:item.flag="{ item }">
                    <v-checkbox :input-value="item.flag" @click="toggleFlag(item)"></v-checkbox>
                </template>
            </v-data-table>
            <p><span style="color:#848484;">contributors - 2021</span></p>
        </v-container>
    </v-app>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    page: 1,
                    pageCount: 0,
                    itemsPerPage: 10,
                    selectedItems: [],
                    filteredItems: [],
                    selectedHeaders: [],
                    rawMaterialKeyword: '',
                    expandFilter: false,
                    typeRadioGroup: 'all',
                    statusRadioGroup: 'all',
                    flagRadioGroup: 'all',
                    headers: [
                        { text: 'Raw Material', value: 'rawMaterial', hidden: false, filter: this.rawMaterialFilter },
                        { text: 'Name', value: 'name', hidden: false },
                        { text: 'Formula', value: 'formula', hidden: false },
                        { text: 'Space Group', value: 'spaceGroup', hidden: true },
                        // { text: 'Space Group ID', value: 'spaceGroupId', hidden: true },
                        { text: 'Crystal Structure', value: 'crystalStructure', hidden: true },
                        // { text: 'Crystal Structure ID', value: 'crystalStructureId', hidden: true },
                        { text: 'Unit Cell Type', value: 'unitCellType', hidden: true },
                        // { text: 'Unit Cell Type ID', value: 'unitCellTypeId', hidden: true },
                        { text: 'Doping', value: 'doping', hidden: false },
                        { text: 'Shape', value: 'shape', hidden: false },
                        { text: 'Variables', value: 'variables', hidden: true },
                        { text: 'Material Class', value: 'materialClass', hidden: false },
                        { text: 'Fabrication', value: 'fabrication', hidden: true },
                        { text: 'Substrate', value: 'substrate', hidden: true },
                        { text: 'Critical Temperature', value: 'criticalTemperature', hidden: false },
                        // { text: 'Critical TemperatureId', value: 'criticalTemperatureId', hidden: true },
                        { text: 'Applied Pressure', value: 'appliedPressure', hidden: false },
                        // { text: 'Applied Pressure ID', value: 'appliedPressureId', hidden: true },
                        { text: 'Critical Temperature Measurement Method', value: 'criticalTemperatureMeasurementMethod', hidden: true },
                        // { text: 'Critical Temperature Measurement MethodId', value: 'criticalTemperatureMeasurementMethodId', hidden: true },
                        { text: 'Link Type', value: 'linkType', hidden: true },
                        { text: 'Section', value: 'section', hidden: false },
                        { text: 'Subsection', value: 'subsection', hidden: false },
                        { text: 'Path', value: 'path', hidden: true },
                        { text: 'Filename', value: 'filename', hidden: true },
                        { text: 'Hash', value: 'hash', hidden: true },
                        { text: 'Timestamp', value: 'timestamp', hidden: true },
                        { text: 'DOI', value: 'doi', hidden: false },
                        { text: 'Authors', value: 'authors', width: 300, hidden: false },
                        { text: 'Title', value: 'title', width: 500, hidden: false },
                        { text: 'Publisher', value: 'publisher', hidden: false },
                        { text: 'Journal', value: 'journal', hidden: false },
                        { text: 'Year', value: 'year', hidden: false },
                        // CONFIRM: check column locations for type, status and flag
                        { text: 'Type', value: 'type', hidden: false, filter: this.typeFilter },
                        { text: 'Status', value: 'status', sortable: false, hidden: false, filter: this.statusFilter },
                        { text: 'Flag', value: 'flag', sortable: false, hidden: false, filter: this.flagFilter },
                        { text: 'View Document', value: 'document', sortable: false, hidden: false },
                        // { text: 'Doc URL', value: 'doc_url', hidden: true },
                        // { text: 'ID', value: 'id', hidden: true },
                        // { text: 'Material ID', value: 'materialId', hidden: true },
                        // { text: 'Sentence', value: 'sentence', width: 500, hidden: true },
                    ],
                    items: []
                }
            },
            computed: {
                showHeaders() {
                    return this.headers.filter(s => this.selectedHeaders.includes(s));
                },
                selectedItem() {
                    return this.selectedItems[0]
                },
                pageIsFirst() {
                    return this.page === 1
                },
                pageIsLast() {
                    return this.page === this.pageCount
                },
                rowNumber() {
                    const ids = this.filteredItems.map(item => item.id)
                    return this.selectedItems.length === 1 ? ids.indexOf(this.selectedItem.id) : undefined
                },
                lastFilteredItem() {
                    return this.filteredItems[this.filteredItems.length - 1]
                },
                firstFilteredItem() {
                    return this.filteredItems[0]
                }
            },
            mounted() {
                const url =
                    '{{ url_for("supercon.get_records_from_form_data") }}'
                axios.get(url).then((data) => {
                    this.items = data.data.map((item) => {
                        return {
                            ...item, ...{ flag: item.status === 'invalid' && item.type === 'manual' }
                        }
                    })
                })
                document.addEventListener('keydown', this.onKeyDown)
            },
            beforeDestroy() {
                document.removeEventListener('keydown', this.onKeyDown)
            },
            methods: {
                hasChangedPageCount(pageCount) {
                    this.pageCount = pageCount
                },
                clickRow(item, event) {
                    event.select(!event.isSelected)
                },
                hasChangedCurrentItems(items) {
                    this.filteredItems = items
                },
                async onKeyDown(event) {
                    // disable shortcuts when in an input field
                    if (event.srcElement.nodeName.indexOf('INPUT') > -1) {
                        return
                    }
                    switch (event.key) {
                        case 'ArrowDown':
                            event.preventDefault()
                            switch (this.rowNumber) {
                                case undefined:
                                    this.selectedItems = [this.firstFilteredItem]
                                    break
                                // the row number is the last of the filtered items
                                case this.filteredItems.length - 1:
                                    if (!this.pageIsLast) {
                                        this.page++
                                        this.selectedItems = []
                                    }
                                    break
                                default:
                                    this.selectedItems = [this.filteredItems[this.rowNumber + 1]]
                            }
                            break
                        case 'ArrowUp':
                            event.preventDefault()
                            switch (this.rowNumber) {
                                case undefined:
                                    this.selectedItems = [this.lastFilteredItem]
                                    break
                                case 0:
                                    if (!this.pageIsFirst) {
                                        this.page--
                                        this.selectedItems = []
                                    }
                                    break
                                default:
                                    this.selectedItems = [this.filteredItems[this.rowNumber - 1]]
                            }
                            break
                        case 'Enter':
                            await this.toggleFlag(this.selectedItem)
                        default:
                            break;
                    }
                },
                rawMaterialFilter(value, search, item) {
                    if (this.rawMaterialKeyword === '') {
                        return true
                    }
                    return item.rawMaterial.indexOf(this.rawMaterialKeyword) > -1
                },
                typeFilter(value, search, item) {
                    switch (this.typeRadioGroup) {
                        case 'all':
                            return true
                        default:
                            return item.type === this.typeRadioGroup
                    }
                },
                statusFilter(value, search, item) {
                    switch (this.statusRadioGroup) {
                        case 'all':
                            return true
                        default:
                            return item.status === this.statusRadioGroup
                    }
                },
                flagFilter(value, search, item) {
                    switch (this.flagRadioGroup) {
                        case 'all':
                            return true
                        case 'flag':
                            return item.flag
                        case 'unflag':
                            return !item.flag
                    }
                },
                async toggleFlag(record) {
                    let url = ''
                    if (record.flag) {
                        url =
                            '{{ url_for("supercon.unflag_record", id = "id") }}'
                    } else {
                        url = '{{ url_for("supercon.flag_record", id = "id") }}'
                    }
                    url = url.replace(
                        "id",
                        record.id
                    )
                    const { data: data } = await axios.patch(url)
                    this.items = Object.assign(
                        this.items,
                        Object.assign(
                            this.items.find(item => item.id === record.id),
                            {
                                type: data.type,
                                status: data.status,
                                flag: !record.flag,
                            }
                        )
                    )
                },
            },
            created() {
                this.selectedHeaders = this.headers.filter(h => !h.hidden)
            },
        })
    </script>

</body>

</html>
