<!DOCTYPE XHTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Supercon 2 list of processed articles</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }} />
</head>

<body>
    <v-app id="app">
        <v-container fluid>
            <h2>Supercon2 "automatically extracted database" tabular view</h2>
            <v-select v-model="selectedHeaders" :items="headers" label="Select Columns" multiple outlined return-object>
            </v-select>
            <!-- TODO: height 800px should be dynamic? up to a user screen size?  -->
            <v-data-table :headers="showHeaders" :items="items" :items-per-page="10" :dense="true"
                loading-text="loading ..." :multi-sort="true" class="elevation-1" height="800">
                <!-- <template v-slot:body.prepend>
          <tr>
            <td>
              <v-text-field v-model="name" type="text" label="Dessert name"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="calories" type="number" label="Less than"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="fat" type="number" label="Less than"></v-text-field>
            </td>
            <td>
              <v-text-field v-model="carbs" type="number" label="Exact number"></v-text-field>
            </td>
          </tr>
        </template> -->
                <template v-slot:item.document="{ item }">
                    <a :href="'./document/' + item.hash" target="_blank" :style="{'text-decoration': 'none'}">
                        View
                    </a>
                </template>
                <template v-slot:item.status="{ item }">
                    <v-checkbox v-model="item.status" @click="toggleFlag(item)"></v-checkbox>
                </template>
            </v-data-table>
            <p><span style="color:#848484;">contributors - 2021</span></p>
        </v-container>
    </v-app>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    selectedHeaders: [],
                    headers: [
                        { text: 'Raw Material', value: 'rawMaterial', hidden: false },
                        { text: 'Name', value: 'name', hidden: false },
                        { text: 'Formula', value: 'formula', hidden: false },
                        { text: 'Space Group', value: 'spaceGroup', hidden: true },
                        // { text: 'Space Group ID', value: 'spaceGroupId', hidden: true },
                        { text: 'Crystal Structure', value: 'crystalStructure', hidden: true },
                        // { text: 'Crystal Structure ID', value: 'crystalStructureId', hidden: true },
                        { text: 'Unit Cell Type', value: 'unitCellType', hidden: true },
                        // { text: 'Unit Cell Type ID', value: 'unitCellTypeId', hidden: true },
                        { text: 'Doping', value: 'doping', hidden: false },
                        { text: 'Shape', value: 'shape', hidden: false },
                        { text: 'Variables', value: 'variables', hidden: true },
                        { text: 'Material Class', value: 'materialClass', hidden: false },
                        { text: 'Fabrication', value: 'fabrication', hidden: true },
                        { text: 'Substrate', value: 'substrate', hidden: true },
                        { text: 'Critical Temperature', value: 'criticalTemperature', hidden: false },
                        // { text: 'Critical TemperatureId', value: 'criticalTemperatureId', hidden: true },
                        { text: 'Applied Pressure', value: 'appliedPressure', hidden: false },
                        // { text: 'Applied Pressure ID', value: 'appliedPressureId', hidden: true },
                        { text: 'Critical Temperature Measurement Method', value: 'criticalTemperatureMeasurementMethod', hidden: true },
                        // { text: 'Critical Temperature Measurement MethodId', value: 'criticalTemperatureMeasurementMethodId', hidden: true },
                        { text: 'Link Type', value: 'linkType', hidden: true },
                        { text: 'Section', value: 'section', hidden: false },
                        { text: 'Subsection', value: 'subsection', hidden: false },
                        { text: 'Path', value: 'path', hidden: true },
                        { text: 'Filename', value: 'filename', hidden: true },
                        { text: 'Hash', value: 'hash', hidden: true },
                        { text: 'Timestamp', value: 'timestamp', hidden: true },
                        { text: 'DOI', value: 'doi', hidden: false },
                        { text: 'Authors', value: 'authors', width: 300, hidden: false },
                        { text: 'Title', value: 'title', width: 500, hidden: false },
                        { text: 'Publisher', value: 'publisher', hidden: false },
                        { text: 'Journal', value: 'journal', hidden: false },
                        { text: 'Year', value: 'year', hidden: false },
                        { text: 'Type', value: 'type', hidden: false },
                        { text: 'View Document', value: 'document', sortable: false, hidden: false },
                        { text: 'Status', value: 'status', sortable: false, hidden: false },
                        // { text: 'Doc URL', value: 'doc_url', hidden: true },
                        // { text: 'ID', value: 'id', hidden: true },
                        // { text: 'Material ID', value: 'materialId', hidden: true },
                        // { text: 'Sentence', value: 'sentence', width: 500, hidden: true },
                    ],
                    items: []
                }
            },
            computed: {
                showHeaders() {
                    return this.headers.filter(s => this.selectedHeaders.includes(s));
                }
            },
            mounted() {
                const url =
                    '{{ url_for("supercon.get_records_from_form_data") }}'
                axios.get(url).then((data) => {
                    this.items = data.data.map((item) => {
                        return {
                            ...item, ...{ status: item.status === 'valid' }
                        }
                    })
                })
            },
            methods: {
                toggleFlag(record) {
                    console.log(record.status)
                    let url = ''
                    if (record.status) {
                        url =
                            '{{ url_for("supercon.unflag_record", id = "id") }}'
                    } else {
                        url = '{{ url_for("supercon.flag_record", id = "id") }}'
                    }
                    url = url.replace(
                        "id",
                        record.id
                    )
                    axios.patch(url);
                },
            },
            created() {
                this.selectedHeaders = this.headers.filter(h => !h.hidden)
            },
        })
    </script>

</body>

</html>
