<!DOCTYPE XHTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>SuperCon2 | Training data viewer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href={{ url_for('static', filename='resources/css/style-superconductors.css' ) }} rel="stylesheet">
    <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }}/>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }}/>
</head>

<body>
<v-app id="app">
    <v-container fluid>
        <h2>SuperCon<sup>2</sup> | Training data viewer</h2>
        <v-row justify="space-between" class="ma-0">
            <v-select v-model="selectedHeaders" :items="headers" label="Select Columns" multiple outlined
                      return-object></v-select>
            <v-btn @click="send_all_new_records_to_label_studio" Depressed class="ma-2">Send all</v-btn>
        </v-row>
        <!-- TODO: height 800px should be dynamic? up to a user screen size?  -->
        <v-data-table
                :headers="showHeaders"
                :items="items"
                :items-per-page="50"
                :dense="true"
                loading-text="loading ..."
                :multi-sort="true"
                class="elevation-1"
                height="800">
            <template v-slot:item.annotated_text="{ item }">
                <span v-html="item.annotated_text"></span>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="send_record_to_label_studio(item)" title="Send to label-studio">
                    mdi-send-outline
                </v-icon>
            </template>
        </v-data-table>
        <p><span style="color:#848484;">&copy; Contributors, 2022 |</span> <span id="version" style="color:#848484;">unknown version</span></p>
    </v-container>
</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                selectedHeaders: [],
                headers: [
                    {text: 'Id', value: 'id', sortable: false, hidden: true},
                    {text: 'Text', value: 'annotated_text', sortable: false, hidden: false},
                    {text: 'Status', value: 'status', sortable: true, hidden: false},
                    {text: 'Document', value: 'hash', sortable: true, hidden: false},
                    {text: 'Actions', value: 'actions', sortable: false, hidden: false},
                ],
                items: []
            }
        },
        computed: {
            showHeaders() {
                return this.headers.filter(s => this.selectedHeaders.includes(s));
            }
        },
        mounted() {
            this.loadItems();
        },
        methods: {
            loadItems() {
                const url = '{{ url_for("supercon.get_training_data_list") }}'
                axios.get(url)
                    .then((data) => {
                            this.items = data.data
                        }
                    )
            },
            async send_record_to_label_studio(item) {
                let url = '{{ url_for("supercon.post_task_to_label_studio_project", project_id="project_id", record_id="record_id") }}'
                url = url.replace(
                    "project_id",
                    "3"
                )
                url = url.replace(
                    "record_id",
                    item.id
                )

                const headers = {
                    "Authentication": "Token 8a35f1f444d69498b356c348ba866d9df9fd8c33"
                };

                try {
                    await axios.post(url, {}, {headers})
                    {#item.status='in_progress'#}
                    this.loadItems()
                } catch (e) {
                    console.error(e)
                    window.alert(JSON.stringify(e.response.data))
                } finally {
                    //
                }
            }
            ,
            async send_all_new_records_to_label_studio(item) {
                let url = '{{ url_for("supercon.post_tasks_to_label_studio_project", project_id="project_id") }}'
                url = url.replace(
                    "project_id",
                    "3"
                )

                const headers = {
                    "Authentication": "Token 8a35f1f444d69498b356c348ba866d9df9fd8c33"
                };

                try {
                    await axios.post(url, {}, {headers})
                    {#item.status='in_progress'#}
                    this.loadItems()
                } catch (e) {
                    console.error(e)
                    window.alert(JSON.stringify(e.response.data))
                } finally {
                    //
                }
            }
            ,
        },
        created() {
            this.selectedHeaders = this.headers.filter(h => !h.hidden)
        }
        ,
    })
</script>

</body>

</html>
