<!DOCTYPE XHTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>SuperCon<sup>2</sup> | Training data viewer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href={{ url_for('static', filename='resources/css/style-superconductors.css' ) }} rel="stylesheet">
    <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }}/>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='resources/img/favicon.ico' ) }}/>
</head>

<body>
<v-app id="app">
    <v-container fluid>
        <h2>SuperCon<sup>2</sup> | Training data viewer</h2>
        <v-select v-model="selectedHeaders" :items="headers" label="Select Columns" multiple outlined return-object>
        </v-select>
        <!-- TODO: height 800px should be dynamic? up to a user screen size?  -->
        <v-data-table
                :headers="showHeaders"
                :items="items"
                :items-per-page="50"
                :dense="true"
                loading-text="loading ..."
                :multi-sort="true"
                class="elevation-1"
                height="800">
            <template v-slot:item.annotated_text="{ item }">
                <span v-html="item.annotated_text"></span>
            </template>
        </v-data-table>
        <p><span style="color:#848484;">&copy; Contributors, 2022 |</span> <span id="version" style="color:#848484;">0.2</span></p>
    </v-container>
</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                selectedHeaders: [],
                headers: [
                    {text: 'id', value: 'id', hidden: true},
                    {text: 'text', value: 'annotated_text', hidden: false},
                    {text: 'hash', value: 'hash', hidden: false}
                ],
                items: []
            }
        },
        computed: {
            showHeaders() {
                return this.headers.filter(s => this.selectedHeaders.includes(s));
            }
        },
        mounted() {
            const url = '{{ url_for("supercon.get_training_data_list") }}'
            axios.get(url).then((data) => {
                this.items = data.data
            })
        },
        methods: {},
        created() {
            this.selectedHeaders = this.headers.filter(h => !h.hidden)
        },
    })
</script>

</body>

</html>
